@functions {
    public string FormatCurrency(decimal value, string cultureCode = "no-NO")
    {
        var culture = new System.Globalization.CultureInfo(cultureCode);
        return value.ToString("C", culture);
    }
}


<h2>Shopping cart</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th class="text-end">Qty</th>
            <th class="text-end">Sum</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in ViewBag.cartList)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td class="text-end">@item.Quantity</td>
                <td class="text-end">@FormatCurrency(@item.GetSum())</td>
                <td>
                    <form action="/webshop/remove-from-cart-full-reload" method="post">
                        <input type="hidden" name="productId" value="@item.Product.Id">
                        <button class="btn btn-sm btn-outline-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }
        <tr>
            <th colspan="2">Total</th>
            <th class="text-end">@FormatCurrency(@ViewBag.totalSum)</th>
            <th></th>
        </tr>
    </tbody>
</table>

<form action="/webshop/clear-cart-full-reload" method="post">
    <button class="btn btn-danger">Clear</button>
</form>

